{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Авторизация{% endblock %}

{% block css %}
<link href="{% static 'css/login.css'%}" rel="stylesheet">
{% endblock %}

{% block body %}

  <div class="container">

    {% if has_error %}
      <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form class="form-signin" role="form" method="post" action="{% url 'accounts:login' %}">
      {% csrf_token %}
      <h2 class="form-signin-heading">Авторизация</h2>
      <input type="text" class="form-control" placeholder="имя пользователя" required autofocus
          name="username" id="username">
      <input type="password" class="form-control" placeholder="пароль" required
          name="password" id="password">
  {#    <label class="checkbox">#}
  {#      <input type="checkbox" value="remember-me"> Remember me#}
  {#    </label>#}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
    </form>
  </div> <!-- /container -->
{% endblock %}