{% extends 'base_site.html' %}

{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'student/css/common.css' %}" rel="stylesheet">
{% endblock %}

{% block home_url %}{% url 'student:index' %}{% endblock %}

{% url 'student:tasks' as tasks_url %}
{% url 'student:docs' as docs_url %}

{% block navbar %}
<li><a href="#" {% if request.get_full_path == tasks_url %}class="active"{% endif %}>Задания</a></li>
<li><a href="#" {% if request.get_full_path == docs_url %}class="active"{% endif %}>Справочная литература</a></li>
{% endblock %}