{% extends 'student/base.html' %}

{% block content %}

<h2>{{ student.get_full_name }}</h2>

<div id="tasks">
  <h4>Ближайшие задания</h4>
  <ul class="list-group">
  {% for task in tasks %}
    <li class="list-group-item">{{ task.text|safe }} - {{ task.release_date }}</li>
  {% endfor %}
  </ul>
</div>

{% endblock %}