{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link href="{% static 'css/base_site.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% block nav_title %}{% endblock %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% block home_url %}#{% endblock %}">{% block home_title %}Школа{% endblock %}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navbar %}{% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'accounts:logout' %}">Выход</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      {% block content %}{{ content_text }}{% endblock %}
    </div>

    <div id="footer">
      <div class="container">
        {% block footer %}{% endblock %}
      </div>
    </div>
{% endblock %}